/* Main Banner Section Style */
.banner{
    padding: 0;
    &__wrapper{
        height: toRem(400);
        z-index: -1;
        &__image{
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    &__content{
        max-width: toRem(800);
        padding: toRem(50) toRem(30);
        background-color: $color-white;
        border: 1px solid #f2f1f6;
        @include min-desktop{
            margin-top: toEm(-50);
            box-shadow: 0 35px 40px 0 rgba(36, 49, 160, 0.06);
            border-radius: toRem(10);
        }
        &__icon{
            width: toRem(100);
            height: toRem(100);
            line-height: toRem(100);
            border: 1px solid #f2f1f6;
            background-color: darken($color-white, $amount: 3);
        }
        &__title{
            font-family: $font-secondary;
            margin: toRem(15) 0;
            text-transform: capitalize;
        }
        &__text{
            color: $color-gray;
            font-size: toRem(18);
            font-weight: 500;
        }
    }
}

/* Sub Banner Section Style */
.sub-banner{
    padding: toRem(200) 0;
}