/* Main Banner Section Style */
.banner{
    padding: toRem(250) 0;
    @include mobile{
        padding: toRem(200) 0;
    }
}

/* Sub Banner Section Style */
.sub-banner{
    padding: toRem(200) 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, rgba($color-secondary, $alpha: 0.5));
    background-blend-mode: darken;
    &__title{
        @include min-desktop{
            font-size: toRem(55);
        }
        color: $color-white;
        text-shadow: 2px 2px 0 $color-secondary;
    }
}