/* Services Section Style */
.services{
    &__card{
        padding: toRem(80) toRem(35);
        margin-bottom: toRem(30);
        background-color: $color-white-soft;
        @media screen and (max-width: 575.98px), (min-width: 992px) and (max-width: 1200px) {
            padding: toRem(60) toRem(20);
        }
        &__icon{
            margin-bottom: toRem(36);
            &__image{
                max-height: toRem(60);
            }
        }
        &__title{
            font-size: toRem(34);
            @media screen and (max-width: 575.98px), (min-width: 992px) and (max-width: 1200px) {
                font-size: toRem(28);
            }
            font-weight: 700;
            font-family: $font-secondary;
            margin-bottom: toRem(15);
        }
        &__text{
            color: $color-gray;
            font-size: toRem(18);
            @media screen and (max-width: 575.98px), (min-width: 992px) and (max-width: 1200px) {
                font-size: toRem(16);
            }
            font-weight: 500;
            line-height: 1.667em;
            margin-bottom: 0;
        }
    }
}