// SCSS Variable's

$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Inter', sans-serif;

$color-primary:#5752d0;
$color-primary--soft:#6b67d6;

$color-secondary:#ff45a2;

$color-gray:#666666;

$color-black:#222222;
$color-white:#ffffff;