.form{
    &-group-label{
        display: block;
        margin-bottom: 0;
        &__text{
            color: lighten($color-gray, $amount: 5);
            display: block;
            margin-bottom: .5rem;
        }
    }
    &-control{
        border-color: lighten($color-gray, $amount: 40);
        box-shadow: none !important;
        &::placeholder{
            color: lighten($color-gray, $amount: 30);
            text-shadow: none;
        }
        &:focus{
            border-color: $color-primary;
        }
    }
}

.custom-control-input:checked ~ .custom-control-label::before{
    background-color: $color-primary;
    border-color: $color-primary;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before{
    background-color: rgba($color-primary, $alpha: 0.5);
    border-color: rgba($color-primary, $alpha: 0.5);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
    border-color: $color-primary;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 .2rem rgba($color-primary, $alpha: 0.25);
}

.custom-control-label{
    cursor: pointer;
}