/* Header Section Style */
.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	background-color: transparent;
	padding: toRem(10) 0 toRem(10);
	transition:
		box-shadow .3s linear,
		background-color .3s linear,
		transform .3s linear;
	@extend %transition;
	.navbar{
		&-brand{
			&__image{
				max-height: toRem(60);
				@include min-tablet{
					max-height: toRem(87);
				}
			}
		}
		&-toggler{
			position: relative;
			width: toRem(45);
			height: toRem(45);
			font-size: toRem(30);
			color: $color-white;
			background-color: $color-primary;
			padding: 0;
			z-index: 8;
			@extend %transition;
			&__icon{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1);
				@extend %transition;
				&--close{
					opacity: 0;
					transform: translate(-50%, -50%) scale(0);
				}
			}
			&[aria-expanded="true"],
			&:active{
				color: $color-white;
				background-color: $color-secondary;
				.navbar-toggler__icon{
					&--close{
						opacity: 1;
						transform: translate(-50%, -50%) scale(1);
					}
					&--open{
						opacity: 0;
						transform: translate(-50%, -50%) scale(0);
					}
				}
			}
		}
		&-collapse{
			@include desktop{
				position: fixed;
				top: 0;
				right: 0;
				transform: translateX(100%);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 50%;
				height: 100vh;
				background-color: $color-white-soft;
				transition: transform ease-in-out .3s;
				&.show{
					transform: translateX(0);
				}
				.navbar-nav{
					width: 100%;
					margin-top: toRem(20);
					.btn--transparent--secondary{
						color: $color-white;
					}
				}
			}
			@include tablet{
				width: 100%;
			}
		}
		.nav{
			&-item{
				.dropdown{
					&-toggle{
						@include min-desktop{
							&::after{
								display: none;
							}
						}
					}
					&-menu{
						background-color: unset;
						padding: toRem(5);
						@extend %transition;
						@include min-desktop{
							display: block;
							transform: translateY(40%);
							opacity: 0;
							visibility: hidden;
							box-shadow: unset;
							max-width: toRem(150);
						}
					}
					&-item{
						&:not(:last-child){
							margin-bottom: toRem(5);
						}
						border-radius: inherit;
						color: unset;
						@extend %transition;
						&.active,
						&:active,
						&:hover,
						&:focus{
							color: unset;
							background-color: unset;
						}
					}
				}
				&.dropdown{
					@include min-desktop{
						&::before{
							content: "";
							position: absolute;
							left: 0;
							bottom: 0;
							transform: translateY(100%);
							width: 100%;
							height: 100%;
							cursor: pointer;
							pointer-events: none;
						}
						&:hover,
						&:focus{
							&::before{
								pointer-events: all;
							}
							.dropdown-menu{
								transform: translateY(0);
								opacity: 1;
								visibility: visible;
							}
						}
					}
					&:hover,
					&:focus{
						.nav-link{
							color: unset;
						}
					}
				}
			}
			&-link{
				color: $color-gray;
				font-size: toRem(18);
				font-weight: 400;
				font-family: $font-primary;
				padding-left: toRem(15);
				padding-right: toRem(15);
				@extend %transition;
				&.active,
				&:hover,
				&:focus-visible{
					color: $color-primary;
					@include desktop{
						background-color: $color-white;
					}
				}
				&:focus ~ .dropdown-menu{
					@include min-desktop{
						transform: translateY(0);
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	&--fixed{
		position: fixed;
		transform: translateY(-100%);
		background-color: $color-white;
		box-shadow: 0 3px 18px rgba($color-black, $alpha: 0.12);
		animation: header_in .4s linear forwards;
	}
}

.modal-open .header{
	right: var(--scrollbarWidth, 0px);
}

/* Fixed Header animation */
@keyframes header_in{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0);
	}
}

/* Off Canvas Navbar Toggler */
.offCanvasMenuCloser{
	top: 0;
	left: 0;
	transform: translateX(100%);
	width: 100%;
	height: 100%;
	background: rgba($color-black, $alpha: 0.14);
	backdrop-filter: blur(10px);
	z-index: 8;
	opacity: 0;
	transition: opacity .4s ease .4s;
	display: none;
	&.show{
		transform: translateX(0);
		opacity: 1;
	}
	@include tablet-to-desktop{
		display: block;
	}
}